# An introduction to Python

## Getting comfortable with JupyterLab

Take a moment to look around the JupyterLab interface.

### Directory/files structure

A note on how Unix file paths work. (Important so that scripts which the students write can access the helper functions on which they rely).

## Python basics

In [ ]:
# Comments, like this one, are preceded by a hash symbol. Comments are not executed.

In [ ]:
# We can use the print() function to display stuff on screen
print('Hello World!)

In [ ]:
# ...except there's something wrong with this line! Can you fix it?

In [ ]:
# Variables are used to store data. They may be text, numbers, datacubes...
my_message = 'This is a string'
a_big_number = 10000

# Use the print() command to display the contents of a variable
print(my_message)
print(a_big_number)

In [ ]:
# In JupyterLab notebooks, we can also look at the contents of a variable simply by typing its name then Shift+Enter:
my_message

In [ ]:
# Variables can be added, subtracted, multiplied etc, e.g.
a = 9
b = 5
c = a + b
print(c)

We say we **assign** a `variable` if we define a value for it. The variable called `a` in the example above is assigned the number 9.

The assignment comes through the `=` symbol. We read:<br>
- var **is (defined/assigned by/through)** 9 <br> 
- <font col=red>We do not read **equal to**, which is used when testing if two values are the same. (This operation actually uses the operator `==`).</font>

## Data structures

You'll see some of these appear in some of our later examples, so it is useful to be aware of them.

In [ ]:
# Lists store several items together
my_list_of_numbers = [1, 6, 9, 10]
various_text = ['Geography', 'Geology', 'Philosophy']
print('various_text, before changing:', various_text)

# They can be changed, e.g.
various_text.append('Chemistry')
print('various_text, after changing:', various_text)

# Tuples are like lists, but once created they cannot be changed
a_tuple = (8, 7, 1)
print(a_tuple)

In [ ]:
# If we try to modify a tuple we will get an error
a_tuple.append(1)

In [ ]:
print(my_list_of_numbers)

In [ ]:
print(various_text)

In [ ]:
# Dictionaries store information as key:data pairs
phone_book = {"John": 123, "Jane": 234, "Jerard": 345}
print(phone_book)

# Add new item to the dictionary
phone_book["Jill"] = 345
print(phone_book)

## Functions (`Def`initions)

In [ ]:
# Function with one argument. It does not return the value.
# x is a parameter
def foo(x):
    print("x = %d" % x)

# pass 5 to the function parameter. Here 5 is an arg.
foo(5)

In [ ]:
# function that returns sum of 2 numbers
# Both numbers must be provided
def sum_two_numbers(a, b):
    return a + b

c = sum_two_numbers(3, 12)
print("c = %d" % c)
# Answer should be 15!

In [ ]:
# Function which returns data, has optional argument
def multiply_by(a, b=2):
    return a * b

# single arg can be passed and will use default optional argument.
print(multiply_by(3))

# Or, specify the optional argument.
print(multiply_by(3, b=47))

## Accidentally overwriting variables and functions

Take a look at the example below.

In [ ]:
# This function returns a and b as a List
def c(a, b):
    return [a, b]


firstitem = "apple"
seconditem = 3
d = c(firstitem, seconditem)
print(d)

That worked fine. We got a 2-item list back.
Now let's "accidentally" re-assign the value of `c` to be a string.

In [ ]:
c = "tomato"
d = c(firstitem, seconditem)
print(d)

Oops, we get a `TypeError`.. Now that `c='tomato'`, we have lost our original definition of c as a function from above.

## Loops and If statements

You do not need to know about Loops and If statements for this course. But if you already know about them, feel free to use them. If you think they would be useful to you then you are also welcome to ask one of the teachers for more information during the project days.

For reference, we have included examples of these items below.

### Loops/iteration
An example of iterating using a `for` statement. Other types of iteration are also possible. More information available at http://justinbois.github.io/bootcamp/2020_fsri/lessons/l06_iteration.html.

In [ ]:
# Loop through a list
my_list_of_numbers = [1, 6, 9, 10]
for n in my_list_of_numbers:
    print(n)

### If/conditional logic
An example of conditional logic using an `if` statement. Other ways of specifying conditional logic are also possible. More information available at http://justinbois.github.io/bootcamp/2020_fsri/lessons/l04_more_operators_and_conditionals.html

In [ ]:
# Check contents of variables with if statements
name = "John"
age = 17

if name == "John" or age == 17:
    print("name is %s" %name)
    print("%s is %d years old" %(name, age))